html {
  font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
html,
body {
  overflow: hidden;
  margin: 0;
}

input {
  max-width: 300px !important;
}

@font-face {
  font-family: "SEGA LOGO FONT";
  src: local("SEGA LOGO FONT"), url("../fonts/SEGA.woff") format("woff");
}

danger {
  margin: 1em 0 1em 0 !important;
  font-family: "SEGA LOGO FONT";
  color: red !important;
}

.wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-gap: 2em;
  justify-items: center;
  padding: 3em 1em 3em 1em;
}

.fill {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.fit {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
