@import url("./custom/flip-card.css");

.card {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
  width: 250px;
  height: 360px;
}

.card .info {
  width: 100%;
}
